html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
button {
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.container {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: #08417a;
  color: #ffffff;
  display: flex;
  /* flex-wrap: wrap; */

  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover {
  color: #9dd1f3;
}
.main {
  grid-area: main;
}
/* nav bar */
/* [ON BIG SCREENS] */
/* Wrapper */
#hamnav {
  width: 100%;
  background: #08417a;
  /* Optional */
  position: sticky;
  top: 0;
}

/* Hide Hamburger */
#hamnav label,
#hamburger {
  display: none;
}

/* Horizontal Menu Items */
#hamitems {
  display: flex;
}
#hamitems a {
  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #9dd1f3;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  /* Show Hamburger Icon */
  #hamnav label {
    display: inline-block;
    color: white;
    background: #08417a;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #9dd1f3;
  }

  /* Toggle Show/Hide Menu */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}

/* [DOES NOT MATTER] */
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
} */

/* Sidebar 
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  color: #ffffff;
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #08417a;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar-close-button {
  background-color: #08417a;
  color: #ffffff;
  border-radius: 100%;

  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
} */
.content-margined {
  margin: 1rem;
}
.footer {
  display: flex;
  /* flex: 1; */
  grid-area: footer;
  background-color: #08417a;
  color: #ffffff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/*  customers - start */
.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.customers li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 20rem;
  margin: 1rem;
  height: 12rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.customer-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  customers - end */

/*  customer card - start */
.customer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px 17px 17px 17px;
  border: 1px solid #2a2485;
}
.customer a {
  text-decoration: none;
}
.customer-name {
  /* border: 1px solid black; */
  font-size: 2rem;
  font-weight: bold;
  color: #2a2485;
}

.customer-email {
  /* border: 1px solid black; */
  color: #2a2485;
}
.customer-image {
  /* border: 1px solid black; */
  max-width: 5rem;
  max-height: 5rem;
}

/*  customer card - end */
